project_id = "kjxduyogbtnonavkjswx"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "ipv6"

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "https://localhost:8080"
additional_redirect_urls = ["https://127.0.0.1:8080", "http://localhost:8080"]
jwt_expiry = 3600
refresh_token_rotation_enabled = true
external_email_enabled = true
external_phone_enabled = false

[edge_functions]
enabled = true

[functions.send-parent-notification]
verify_jwt = false

[functions.send-result-email]
verify_jwt = true